<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Wettervorhersage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/weather" aria-current="page">Tabelle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weather/create">Erstellen</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <!-- Das rein, wenn user angemeldet -->
        <li *ngIf="isLoggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Menü
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/user/overview">Übersicht</a></li>
            <li><a class="dropdown-item" href="/user/account">Mein Konto</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>